*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* D:\DATE\GPR\HARDWARE\SECTIUNEA_LF\GPR_LF.MAX  *
* Tue May 21 19:41:14 2024                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       75       96       200      100                                                                                 
T2       110      4        200      100                                                                                 
