****************************************************
*                                                  *
* DRILL TAPE SUMMARY REPORT                        *
*                                                  *
* D:\DATE\GPR\HARDWARE\V1\SECTIUNEA_RF\GPR_RF.MAX  *
* Wed Aug 27 11:53:36 2025                         *
*                                                  *
****************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       5        200      100                                                                                 
T2       34       5        200      100                                                                                 
T3       54       10       200      100                                                                                 
T4       110      4        200      100                                                                                 
