*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* D:\DATE\GPR\HARDWARE\SECTIUNEA_RF\GPR_RF.MAX  *
* Sun May 18 12:58:52 2025                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       5        200      100                                                                                 
T2       34       5        200      100                                                                                 
T3       54       10       200      100                                                                                 
T4       110      4        200      100                                                                                 
