*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* D:\DATE\GPR\HARDWARE\SECTIUNEA_JF\GPR_JF.MAX  *
* Sat May 11 11:05:53 2024                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       75       94       200      100                                                                                 
