*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* D:\DATE\GPR\HARDWARE\SECTIUNEA_RF\GPR_RF.MAX  *
* Wed May 03 22:22:05 2023                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       34       5        200      100                                                                                 
T2       54       10       200      100                                                                                 
T3       110      4        200      100                                                                                 
