*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* D:\DATE\GPR\HARDWARE\SECTIUNEA_LF\GPR_LF.MAX  *
* Sun May 18 12:46:44 2025                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       75       96       200      100                                                                                 
T2       110      6        200      100                                                                                 
